<!-- archivo: src/app/lista-costos/lista-costos.page.html -->
<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">Lista Costos</ion-title>
    <ion-buttons slot="primary" >
      
      <ion-button  color="light" routerLink="/charts"><ion-icon name="add-outline"></ion-icon> Nuevo Producto
        </ion-button>
      <ion-button color="light" routerLink="/ajustes">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>
